/* ------------- cicles background animation ------------- */
.bg-circle {
    position: absolute;
    height: 50%;
    width: 50%;
    pointer-events: none;
    z-index: -1;
    /* border: 3px solid transparent; */
    border-radius: 50%;
    animation: rotateLeft 30s linear infinite;
}

.bg-circle:nth-child(1) {
    height: 70%;
    width: 70%;
    /* border: 1px solid var(--color1); */
    animation-delay: 0s;
}

.bg-circle:nth-child(2) {
    left: 50%;
    /* border: 1px solid var(--color2); */
    animation-delay: -5.5s;
}

.bg-circle:nth-child(3) {
    top: 50%;
    /* border: 1px solid var(--color3); */
    animation-delay: -11.5s;
}

.bg-circle:nth-child(4) {
    height: 80%;
    width: 80%;
    top: 20%;
    left: 30%;
    /* border: 1px solid var(--color4); */
    animation-delay: -16.5s;
}

.bg-circle:nth-child(1)::before,
.bg-circle:nth-child(2)::before,
.bg-circle:nth-child(3)::before,
.bg-circle:nth-child(4)::before {
    content: "";
    position: absolute;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 20vw var(--color2);
    filter: blur(100px);
}

.bg-circle:nth-child(1)::after,
.bg-circle:nth-child(2)::after,
.bg-circle:nth-child(3)::after,
.bg-circle:nth-child(4)::after {
    content: "";
    position: absolute;
    height: 5vw;
    width: 5vw;
    left: 80%;
    top: 80%;
    border-radius: 50%;
    box-shadow: 0 0 20vw var(--color2);
    filter: blur(30px);
}

.bg-circle:nth-child(1)::before,
.bg-circle:nth-child(4)::after {
    background-color: var(--color1);
}

.bg-circle:nth-child(2)::before,
.bg-circle:nth-child(3)::after {
    background-color: var(--color2);
}

.bg-circle:nth-child(3)::before,
.bg-circle:nth-child(2)::after {
    background-color: var(--color3);
}

.bg-circle:nth-child(4)::before,
.bg-circle:nth-child(1)::after {
    background-color: var(--color4);
}

/* .bg-circle::before {
    background-color: yellow;
} */

@keyframes rotateLeft {
    0% {
        transform: rotate(360deg);
        /* background: radial-gradient(bg-circle, cyan, blue); */
    }
}

@keyframes rotateRight {
    100% {
        transform: rotate(360deg);
        /* background: radial-gradient(bg-circle, cyan, blue); */
    }
}
