@media (max-width: 1610px) {
    :root {
        --h1-font-size: 4.1rem;
        --h2-font-size: 3.1rem;
        --h3-font-size: 2.5rem;
        --h4-font-size: 1.2rem;
        /* --p-font-size: 0.7rem; */
    }
    #portfolio .projects {
        pointer-events: none;
        margin-top: 2rem;
    }
    .box {
        width: 35%;
        margin: 3%;
        /* padding: 1.5%; */
        border-radius: 3px;
        pointer-events: auto;
        /* box-shadow: none; */
        box-shadow: 3px 3px 10px #63636328;
        background-color: var(--default-light-color);
        /* background-color: transparent; */
    }
    /* .box:hover {
        padding: 1.5%;
    } */

    .box-img {
        /* border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
        border-radius: 0;
        /* box-shadow: 0 1px 1px #00000029; */
        /* border-bottom: 1px solid var(--default-dark-color); */
    }
    .project-text-content {
        padding: 5%;
        padding-top: 1.5rem;
    }

    .box:hover,
    .box:active {
        transform: scale(1.09);
    }
    .projects:hover > :not(:hover),
    .projects:active > :not(:active) {
        margin-inline: 2.8rem;
        transform: none;
    }

    .box:hover ~ .box,
    .box:active ~ .box {
        transform: none;
    }
    .project-options {
        /* margin-top: auto; */
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /* flex-wrap: wrap; */
        /* gap: 0.6rem; */
    }
    .project-options > .source-code {
        order: -1;
        border-radius: 0;
        margin: 0;
        border-radius: 5px;
    }
}
@media (max-width: 1460px) {
    :root {
        --h1-font-size: 3.8rem;
        --h2-font-size: 2.6rem;
        --h3-font-size: 1.9rem;
        --h4-font-size: 1.1rem;
        /* --p-font-size: 0.7rem; */
    }
    h1,
    h2,
    h3 {
        font-weight: 800;
    }
    .socials a {
        height: 2.5rem;
        width: 2.5rem;
    }
    .socials a i {
        font-size: 1.1rem;
    }
    .socials a::before,
    .socials a::after {
        padding: 4px;
    }

    #about {
        padding: 3%;
    }
    .about-content {
        margin-left: 4rem;
        /* width: auto; */
        flex: 1;
    }
    .box {
        flex-direction: row;
        width: 80%;
        /* height: 70%; */
        margin: 2%;
        background-color: transparent;
        box-shadow: none;
        padding: 3vh;
    }
    .box-img {
        width: 60%;
        box-shadow: 3px 3px 10px #63636328;
    }

    .project-text-content {
        padding: 0 5%;
        /* padding-bottom: 1.5rem; */
        justify-content: center;
    }
    .project-options > .source-code {
        order: 1;
    }
}

@media (max-width: 1230px) {
    :root {
        /* --h1-font-size: 3rem; */
        /* --h2-font-size: 2rem; */
        /* --h3-font-size: 1.3rem; */
        --h4-font-size: 1rem;
        /* --p-font-size: 0.9rem; */
        --min-about-text-height: 6vh;
        --max-about-text-height: 25vh;
        --header-height: 3.2rem;
    }
    /* #body-container section {
        height: auto;
    } */

    .navbar a {
        margin: 0 1.2rem;
        font-size: 1rem;
    }
    #about {
        padding: 0;
    }
    .about-container {
        padding: 0 8%;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .box-content {
        margin: 7%;
    }
    .about-content {
        width: auto;
        /* border: 2px solid blue; */
    }
    .more-about-me {
        padding: 0.5rem 1.1rem;
    }
    .more-about-me a {
        font-size: 1rem;
    }

    .img-container .hexagon {
        width: 24vh;
        height: 35vh;
    }
    .box {
        width: 90%;
    }
    .box-img {
        width: 50%;
    }
    .project-options a {
        font-size: 0.9rem;
        padding: 0.05rem 0.4rem 0.2rem 0;
    }
    .project-options > .source-code {
        padding: 0.4rem 1rem;
    }
}

@media (max-width: 980px) {
    :root {
        --h1-font-size: 3rem;
        --h2-font-size: 2rem;
        --h3-font-size: 1.3rem;
        /* --h4-font-size: 1rem; */
        --p-font-size: 0.9rem;
        --min-about-text-height: 5vh;
        /* --max-about-text-height: 25vh; */
    }
    /* #body-container section {
        height: auto;
    } */

    header {
        padding-right: 2%;
        /* gap: 2%; */
    }
    .logo-text a {
        font-size: 1.4rem;
    }
    .navbar {
        display: none;
    }
    .menu-icon {
        display: flex;
    }
    .box {
        box-shadow: 3px 3px 10px #63636328;
    }
    .box-content {
        margin: 5%;
    }
    .socials a {
        height: 2rem;
        width: 2rem;
        margin-right: 1.2rem;
    }
    .socials a i {
        font-size: 0.8rem;
    }
    .socials a::before,
    .socials a::after {
        padding: 3px;
    }
    /* #home {
        background: url("iil/image/bg-grid-lighter.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    } */
    #about {
        max-height: 80vh;
        /* padding: 0 8%; */
        background: transparent;
        /* z-index: 2; */
    }

    .about-container {
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: none;
        height: 70vh;
        /* gap: 15%; */
        padding: 0 0 0 10%;
        /* border: 2px solid blue; */
    }
    .about-content {
        width: 100%;
        /* width: 25rem; */
        /* margin: 0; */
        margin: 0 1rem 0 3.5rem;
        /* border: 2px solid blue; */
    }
    .about-content h1 {
        width: max-content;
        /* border: 2px solid red; */
    }
    /* .about-content > p {
        height: 25%;
    } */

    .img-container .hexagon {
        width: 20vh;
        height: 28vh;
    }
    .more-about-me {
        /* margin-top: 5vh; */
        padding: 0.4rem 0.9rem;
        box-shadow: -1px -1px 5px #fff, 5px 5px 10px #0000001a,
            inset 0px 0px 1px #0000001d;
    }
    .more-about-me a {
        font-size: 0.8rem;
    }
    .box {
        flex-direction: column;
        width: 60%;
        /* height: 70%; */
        margin: 5%;
        padding: 0;
        /* box-shadow: 3px 3px 10px #63636328; */
    }
    .box-img {
        width: 100%;
        /* margin-bottom: 3vh; */
        box-shadow: none;
    }
    .project-text-content {
        padding: 5%;
        background-color: var(--default-light-color);
    }
    #move-to-top i {
        font-size: 2.5rem;
        padding: 0.8rem;
    }
    #report-cancel {
        top: 2%;
        left: 87%;
    }
}

@media (max-width: 720px) {
    :root {
        --h1-font-size: 2.4rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.1rem;
        /* --h4-font-size: 1rem; */
        --p-font-size: 0.9rem;
        --min-about-text-height: 5vh;
        /* --max-about-text-height: 25vh; */
    }
    #main-logo {
        margin-left: 3%;
    }
    .logo-text a {
        font-size: 1.2rem;
    }
    .menu-icon i {
        font-size: 2rem;
    }
    .text-content > h3:first-child {
        letter-spacing: 0.05rem;
        /* font-size: 2rem; */
    }

    .box-content {
        margin: 2%;
    }
    .text-content {
        padding: 2rem;
    }
    #name-text {
        letter-spacing: 0.07rem;
    }
    .about-container {
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 0 15% 0 8%;
    }
    .about-content {
        margin: 0;
        padding: 0;
    }
    .img-container {
        /* order: 1; */
        padding: 7px;
        margin-bottom: 12vh;
    }
    .img-container::after {
        padding: 25px;
    }
    .about-content p {
        max-height: var(--min-about-text-height);
    }

    #portfolio > h2 {
        letter-spacing: 0.05rem;
    }

    .box {
        padding: 5%;
        width: 90%;
        box-shadow: none;
        /* border: 2px solid red; */
    }
    .box:hover,
    .box:active {
        transform: scale(1);
    }
    #portfolio .projects {
        margin-top: 0;
    }
    #portfolio .projects .box {
        margin: 2% 0;
        box-shadow: none;
    }
    .box-img {
        margin-bottom: 1.7vh;
        box-shadow: 5px 5px 10px #6363637a;
    }
    .box:hover .box-img {
        transform: scale(1.05);
    }

    .project-text-content {
        padding: 1%;
        background-color: transparent;
    }

    .contact-container .row1 .col {
        padding: 0 1rem;
        margin: 1rem 0 1rem;
    }
    .contact-container {
        width: 90%;
    }
    .contact-container .contact-input-box .contact-text {
        font-size: 1rem;
        font-weight: 500;
    }
    .contact-container .submit-message {
        padding: 0.3rem 1.8rem;
        font-size: 1rem;
    }
    #report-cancel i {
        font-size: 1.5rem;
    }
}
@media (max-width: 480px) {
    :root {
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.1rem;
        /* --h4-font-size: 0.9rem; */
        /* --p-font-size: 0.7rem; */
        --min-about-text-height: 7vh;
        --header-height: 2.9rem;
    }
    .box-content {
        margin: 0;
    }
    .about-container {
        padding: 0 5%;
    }
    .img-container {
        padding: 5px;
    }
    .img-container::after {
        padding: 20px;
    }
    .img-container .hexagon {
        width: 18vh;
        height: 25vh;
    }
    #portfolio .projects .box {
        margin: 5% 0;
    }
    .project-options a {
        font-size: 0.8rem;
        padding: 0.05rem 0.4rem 0.2rem 0;
    }
    .project-options > .source-code {
        padding: 0.35rem 0.85rem;
    }
    #move-to-top {
        bottom: 2%;
    }
    #move-to-top i {
        font-size: 2.1rem;
        padding: 0;
    }
    .contact-container .contact-input-box .contact-text {
        font-size: 0.85rem;
    }
    .contact-container .submit-message {
        padding: 0.2rem 1.2rem;
        font-size: 0.8rem;
        font-weight: 500;
    }
}
