body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 100px;
    /* font-weight: bolder; */
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.container {
    height: auto;
    /* border: 3px solid rgb(18, 61, 92); */
    display: grid;
    grid-template-columns: 11% 78% 11%;
    grid-template-rows: 150px 7.0fr 3.5fr 5fr 2.5fr 3.0fr;
    letter-spacing: -0.05em;
}

#nav-bar {
    grid-area: 1 / 2 / 2 / -2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    /* border: 2px solid red; */
}

/* for the navigation bar */
#logo {
    flex: 0.5;
    /* border: 2px solid; */
}

#logo>img {
    width: auto;
    height: 50px;
    padding: 10px 0 0 0px;
}

.nav-text {
    flex: 0.3;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.491);
    letter-spacing: -0.03em;
    /* border: 2px solid; */
    text-align: center;
}

#login-button {
    flex: 1.5;
    text-align: right;
    margin-right: 20px;
    /* border: 2px solid; */
}

#signup-button {
    /* border: 2px solid blue; */

    min-width: 150px;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 50px;
    color: white;
    background-color: #2BD0D0;
    border: none;
}

/* for the first section */
#head-section {
    /* border: 10px solid purple; */
    grid-area: 2 / 2 / 3 / -1;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#head-text {
    grid-area: 1 / 1 / 2 / 2;
    margin: 50px 0;
    /* border: 3px solid; */
    padding: 20px 5px 0 20px;
    letter-spacing: -0.06em;
    /* background-color: orange; */
    padding: 0;
}

#head-text>h1 {
    line-height: 1.1;
    margin-bottom: 0;
}

#head-text>p {
    font-size: 30px;
    max-width: 700px;
    margin-top: 0;
    /* margin-right: 60px; */
    font-weight: 500;
    color: rgba(0, 0, 0, 0.39);
    /* border: 3px solid red; */
}

#top-image {
    grid-area: 1 / 2 / 2 / -1;
    overflow: hidden;
    /* border: 3px solid red; */
    position: relative;
    top: 50px;
}

#top-image>img {
    width: 980px;
}

.get-started-button {
    /* border: 2px solid rgb(222, 49, 27); */
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
    background-color: #2BD0D0;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#search-bar {
    /* border: 5px solid red; */
    height: 200px;
    width: 78%;
    background-color: #3A3053;
    background-image: url("images/bg-shorten-desktop.svg");
    background-size: cover;
    border-radius: 10px;
    position: relative;
    top: -100px;
    left: 11%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* gap: 30px; */
}

.link-input-box,
.link-button {
    /* border: 4px solid greenyellow; */
    display: flex;
    justify-content: center;
}

.link-input-box {
    flex: 4;
    padding: 0 30px;
}

.link-button {
    flex: 1;
    padding: 0 20px 0 0;
}

.search-input,
.search-button {
    border-radius: 15px;
    align-self: center;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    line-height: 0.1px;
    height: 65px;
    /* margin: 0 30px; */
}

.search-input {
    background-color: #fff;
    min-width: 100%;
    /* height: 65px; */
    border: none;
    /* border: 3px solid blue; */
}

.search-button {
    background-color: #2BD0D0;
    padding: 0;
    min-width: 100%;
    text-align: center;
    /* height: 60px; */
    color: white;
    border: none;
    /* border: 3px solid green; */
}

#body-section {
    grid-area: 3 / 1 / 4 / -1;
    background-color: #eff1f7;
    text-align: center;
    /* border: 3px solid red; */
}

#body-section>h2,
#body-section>p {
    margin: 0 30%;
}

#body-section>h2 {
    margin-top: 50px;
}

#body-section>p {
    font-size: 1.5em;
    letter-spacing: 0.03em;
    padding: 20px 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.39);
    /* border: 3px solid red; */
}

#box-body-section {
    grid-area: 4 / 1 / 5 / -1;
    background-color: #eff1f7;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border: 3px solid blue; */
}

.body-section-2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.connecting-line {
    width: 40px;
    border-bottom: 10px solid #2BD0D0;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 100%;
    z-index: 1;
}

.box {
    width: 350px;
    height: 230px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    padding: 40px;
    border-top: 3px solid #2BD0D0;
}

.box h3 {
    font-size: 30px;
    /* border: 2px solid red; */
    margin-bottom: 10px;
}

.box p {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.34);
    margin: 0;
    /* border: 2px solid red; */
}

.box-one {
    position: relative;
    top: 40px;
    /* left: -100px; */
}

section>div {
    background-color: #3A3053;
    border-radius: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
}

.box img {
    width: 40px;
}

.box-two {
    position: relative;
    top: 90px;
}

.box-three {
    position: relative;
    top: 140px;
}

.lower-body {
    /* border: 2px solid red; */
    grid-area: 5 / 1 / 6 / -1;
    background-color: #393051;
    background-image: url("images/bg-boost-desktop.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lower-body>h2 {
    /* border: 2px solid rgb(57, 66, 167); */
    color: white;
    margin: 30px;
}

footer {
    /* border: 2px solid rgb(57, 66, 167); */
    grid-area: 6 / 1 / 7 / -1;
    background-color: rgb(35, 32, 39);
    color: white;
    display: flex;
    padding: 90px 0;
}

.shortly-white {
    flex: 1.5;
}

.shortly-white h2 {
    font-size: 40px;
    letter-spacing: 1.1px;
    /* font-family: "Permanent Marker", cursive; */
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    /* text-align: center; */
    margin: 0;
    padding-left: 32%;
    /* padding-top: 0; */
    /* border: 2px solid rgb(57, 66, 167); */
}

.footer-table {
    flex: 0.8;
    text-align: left;
    /* height: auto; */
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(57, 66, 167); */
}

.footer-table>ul {
    list-style: none;
    /* border: 2px solid rgb(57, 66, 167); */
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.footer-table {
    color: rgba(210, 209, 210, 0.747);
}

.footer-table li {
    min-width: 230px;
    margin-bottom: 10px;
    /* border: 2px solid cyan */
}

.column-title {
    font-weight: bolder;
    color: white;
    padding-bottom: 10px;
}

.logo-list {
    /* border: 2px solid rgb(57, 66, 167); */
    flex: 0.9;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* padding-top: 10px; */
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    /* flex-wrap: wrap; */
}

.logo-list li {
    margin: 0 12px;
    /* height: 30px; */
    /* border: 2px solid rgb(57, 66, 167); */
}

.logo-list img {
    width: 40px;
}


@media (max-width: 1400px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        /* align-items: center; */
    }

    #logo>img {
        /* width: 70px; */
        height: 40px;
    }

    #nav-bar {
        margin: 10px 5%;
        /* border: 5px solid black; */
    }

    .nav-text {
        font-size: 18px;
    }

    #head-section {
        height: auto;
        padding-bottom: 10%;
        display: flex;
        align-items: flex-start;
        /* border: 2px solid rgb(57, 66, 167); */
    }

    #top-image {
        flex: 1;
        order: 1;
        padding: 0;
        display: flex;
        /* justify-content: center; */
        /* border: 2px solid rgb(166, 27, 57); */
    }

    #top-image>img {
        width: 90%;
        height: 90%;
        /* border: 2px solid rgb(57, 66, 167); */
    }

    #head-text {
        flex: 0.8;
        line-height: 1.1;
        padding: 0;
        margin-left: 5%;
        /* border: 2px solid rgb(57, 66, 167); */
    }

    #head-text>h1 {
        font-size: 60px;
        /* margin: 10px; */
    }

    #head-text>p {
        font-size: 20px;
        max-width: 100%;
        margin-right: 20px;
        /* margin: 0 40px 40px 10px; */
        /* border: 2px solid rgb(57, 66, 167); */
    }

    .get-started-button {
        font-size: 17px;
        padding: 15px 35px;
    }

    #search-bar {
        /* border: 5px solid red; */
        height: 100px;
        width: 90%;
        top: -50px;
        left: 5%;
        border-radius: 30px;
        margin-bottom: 0;
    }

    .search-input,
    .search-button {
        font-size: 16px;
        height: 45px;
    }

    /* #body-section {
        margin-bottom: 0;
        border: 3px solid blue;

    } */
    #body-section>h2,
    #body-section>p {
        margin: 0 5%;
        /* border: 3px solid red; */
    }

    #body-section>h2 {
        margin-top: -20px;
        font-size: 35px;
    }

    #body-section>p {
        font-size: 1.1em;
        padding: 5px 0;
    }

    .connecting-line {
        height: 75px;
        border: none;
        border-left: 10px solid #2BD0D0;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 100%;
        left: 50%;
        /* z-index: 1; */
    }

    .body-section-2 {
        gap: 5px;
        align-items: center;
        flex-direction: column;
        height: 1200px;
        /* border: 5px solid green; */
    }

    .box {
        width: 500px;
        height: 200px;
        border-radius: 10px;
        margin-top: 20px;
        padding: 40px;
    }

    .box-one {
        margin-top: -130px;
    }

    .box h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .box p {
        font-size: 18px;
        font-weight: 500;
    }

    section>div {
        height: 75px;
        width: 75px;
        top: -35px;
    }

    .box img {
        width: 35px;
    }

    .lower-body>h2 {
        font-size: 35px;
    }

    .lower-body>button {
        margin-bottom: 20px;
    }

    footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .shortly-white,
    .footer-table,
    .logo-list {
        flex: 1;
        margin: 20px;
        /* border: 3px solid yellow; */
    }

    .shortly-white h2 {
        padding: 0;
        margin-top: 15px;
        font-size: 35px;
    }

    .footer-table>ul {
        font-size: 18px;
        line-height: 1.1;
        text-align: center;
        /* border: 3px solid yellow; */
    }

    .logo-list {
        justify-content: center;
    }

    .logo-list img {
        width: 40px;
    }
}

@media (max-width: 1000px) {

    #nav-bar {
        justify-content: flex-start;
        margin: 0;
        /* border: 10px solid purple; */
    }

    .nav-text {
        display: none;
    }

    #logo>img {
        height: auto;
        /* padding: 0; */
        margin: 10px 0 0 40px;
        /* border: 5px solid black; */
    }

    #head-section {
        flex-direction: column;
        align-items: center;
        /* gap: 100px; */
    }

    #top-image {
        order: -1;
        justify-content: center;
        /* border: 2px solid rgb(166, 27, 57); */
    }

    #head-text {
        margin-left: 0;
        line-height: 1.1;
        text-align: center;
        /* border: 2px solid rgb(57, 66, 167); */
    }

    #head-text>h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    #head-text>p {
        font-size: 18px;
        max-width: 100%;
        margin: 10px 20px 40px 20px;
        /* border: 2px solid rgb(57, 66, 167); */
    }
}

@media (max-width: 630px) {
    #nav-bar {
        justify-content: center;
        /* border: 10px solid purple; */
    }

    #logo {
        display: flex;
        justify-content: center;
        /* border: 5px solid red; */
    }

    #logo>img {
        padding: 0;
        margin: 10px 0 0 10px;
        /* border: 5px solid black; */
    }

    #head-section {
        padding-bottom: 20%;
    }

    #head-text {
        padding-bottom: 30px;
        /* border: 5px solid red; */
    }

    .box {
        width: 320px;
        height: 200px;
        border-radius: 30px;
    }

    .footer-table {
        flex-direction: column;
        /* border: 3px solid yellow; */
    }
}

@media (max-width: 530px) {
    #search-bar {
        /* border: 5px solid red; */
        width: 90%;
        height: 220px;
        top: -110px;
        left: 5%;
        flex-direction: column;
    }

    .link-input-box,
    .link-button {
        /* border: 4px solid greenyellow; */
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .link-input-box {
        /* flex: 3; */
        margin-top: 30px;
    }

    .link-button {
        /* border: 4px solid blue; */
        /* flex: 1; */
        margin-bottom: 30px;
    }

    .search-input,
    .search-button {
        height: 60px;
    }

    .search-input {
        min-width: 90%;
        /* border: 3px solid blue; */
    }

    .search-button {
        min-width: 40%;
        text-align: center;
        /* border: 3px solid green; */
    }

    .body-section-2 {
        height: 1050px;
        /* border: 5px solid green; */
    }

    #body-section>h2 {
        margin-top: -70px;
        font-size: 30px;
    }

    #body-section>p {
        font-size: 0.9em;
        padding: 5px 0;
    }

    .box {
        width: 270px;
        height: 160px;
        border-radius: 30px;
    }

    .box-one {
        margin-top: -190px;
    }

    .box h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .box p {
        font-size: 15px;
    }

    section>div {
        height: 65px;
        width: 65px;
        top: -35px;
    }

    .box img {
        width: 25px;
    }

    .lower-body>h2 {
        font-size: 25px;
        text-align: center;
    }

    .lower-body>button {
        margin-bottom: 20px;
    }

    .shortly-white h2 {
        margin-top: 15px;
        font-size: 35px;
    }

    .footer-table {
        flex-direction: column;
        gap: 25px;
    }

    .footer-table>ul {
        font-size: 16px;
        line-height: 1.1;
    }

    .logo-list img {
        width: 30px;
    }
}
