:root {
    /* COLORS */
    --bg-color: #ffffff;
    --header-color: #262626;
    --main-font-color: #000000;
    --blue-bg-btn-color: #0067b8;
    --hover-color: #c9c9c930;
    --nav-hover: #000;
    --card-box-shadow: 0 0.7px 2.5px rgba(0, 0, 0, 0.11),
        -2px 2px 6px rgba(0, 0, 0, 0.11);
    --btn-padding: 11px 15px;

    /* FONTS */
    --main-font-family: "CJay font", SegoeUI, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    --backup-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    /* DIMENTIONS */
    --head-nav-bar-height: 54px;
    --search-bar-height: 36px;
    --product-img-width: 25%;
}

@font-face {
    font-family: "CJay font";
    src: url(fonts/Segoe\ UI.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

body {
    width: 100%;
    height: auto;
    color: var(--main-font-color);
}

h2,
h3 {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.75em;
}

.head-nav-bar {
    display: flex;
    font-size: 13px;
    cursor: pointer;
    font-size: 13px;
    height: var(--head-nav-bar-height);
    padding: 0 5%;
    /* border-bottom: 1px solid blue; */
}

.head-nav-bar * {
    margin: 0;
    padding: 0;
    color: var(--header-color);
}
.head-nav-bar > * {
    display: flex;
    align-items: center;
    padding: 10px;
    /* border: 2px solid red; */
}

.head-nav-bar img {
    width: 17px;
    height: 17px;
}

.head-nav-bar a {
    text-decoration: none;
}

.head-nav-bar a:hover {
    color: var(--nav-hover);
    /* background-color: var(--hover-color); */
}
.menu-hamburger {
    display: none;
    order: -2;
    /* border: 2px solid blue; */
}
.menu-hamburger img {
    width: 20px;
    height: 20px;
}
.main-logo {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* border: 2px solid red; */
}

.main-logo > img {
    width: 108px;
    height: 23px;
    margin-bottom: 3px;
    /* border: 2px solid blue; */
}

#nav-bar {
    flex: 1;
    /* border: 2px solid yellow; */
}

.nav-options {
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.nav-options li {
    display: flex;
    padding: 10px 0;
    list-style: none;
    /* border: 1px solid red; */
}

.nav-options li:hover {
    background-color: #f2f2f2;
}

.nav-options li a {
    /* border: 1px solid transparent; */
    color: var(--header-color);
    display: inline-block;
    width: max-content;
    padding: 12px;
}

.nav-options > .more-dropdown {
    display: none;
    position: relative;
    /* border: 1px solid black; */
}
.more-dropdown:hover,
.more-dropdown:active {
    background-color: #f2f2f2;
    /* border: 1px solid black; */
}
.hidden-dropdown {
    display: none;
    position: absolute;
    top: 54px;
    z-index: 1;
    background-color: #f2f2f2;
    border-bottom: 2px solid black;
}
.more-dropdown li {
    padding: 8px 90px 8px 20px;
    display: block;
    /* border: 2px solid red; */
}

.more-dropdown li:hover {
    /* display: block; */
    background-color: #e2e2e2;
}
.show-hidden {
    display: block;
}
.bg-active-color {
    background-color: #f2f2f2;
}

#allProducts img {
    padding: 3px;
}

#head-search:active {
}

#allProducts,
#head-search,
#head-cart,
#login {
    position: relative;
}

#allProducts::after,
#head-search::after,
#head-cart::after,
#login::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    top: 40px;
    transition: width 0.3s;
}

#allProducts:hover::after {
    width: 73px;
}
#head-search:hover::after {
    width: 38px;
}
#head-cart:hover::after {
    width: 25px;
}
#login:hover::after {
    width: 40px;
}

/* .search-box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--header-color);
}
.search-box > * {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
}

#search-input {
    flex-grow: 1;
    margin-left: 10px;
    background-color: transparent;
}
#search-input::placeholder {
    color: #9b9b9b;
    font-family: var(--main-font-family);
    background-color: transparent;
}

#search-input:focus {
    outline: none;
}

.search-box > a > img {
    width: 15px;
    padding: 5px 10px;
} */

#head-cart > img,
#head-search > img {
    margin-left: 5px;
}

#search-box {
    display: none;
    flex: 1;
    margin: 9px 0 9px 2%;
    padding-right: 0;
    border: 1px solid var(--header-color);
}
#search-box img {
    margin: 5px;
}
#search-box:hover,
#search-box:active {
    border: 2px solid var(--blue-bg-btn-color);
}
#search-input {
    flex-grow: 1;
    padding: 8px 0;
    border: none;
    background-color: transparent;
}
#search-input::placeholder {
    color: #a3a3a3;
    font-weight: 100;
    background-color: transparent;
}

#search-input:focus {
    outline: none;
}
#search-cancel {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    margin: 9px;
    padding: 0 15px;
}

#head-sign-up img {
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--header-color);
}

/* MAIN BODY SECTION  -------------------------------------------*/
.main-body {
    width: 90%;
    max-width: 1600px;
    margin-inline: auto;
    margin-top: 5vw;
    /* border: 2px solid orange; */
}

/* Top Product section */
.top-products,
.bottom-products {
    min-width: 100%;
    display: grid;
    /* --product-img-width: 25%; */
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--product-img-width), 1fr)
    );
    /* border: 2px solid red; */
}

.item {
    margin: 12px;
    margin-bottom: 48px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: var(--card-box-shadow);
    /* border: 2px solid blue; */
}

.item img {
    width: 100%;
}

.content {
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}
.content > * {
    margin-bottom: 15px;
    /* border: 2px solid orange; */
}
.content p {
    line-height: 1.5;
}
.card-button {
    display: flex;
    margin-top: auto;
    margin-bottom: 0;
}
.outlook-product {
    margin: 50px 12px 100px;
    /* border: 2px solid blue; */
}
.outlook-product img {
    width: 100%;
}

.bottom-products-title {
    margin: 0 12px 3px;
    /* border: 2px solid blue; */
}

.content .new {
    width: max-content;
    padding: 4px 12px;
    background-color: #ffb900;
}

.btn {
    font-family: var(--backup-font);
    font-weight: 600;
    font-size: 1em;
    line-height: 1.1;
    /* letter-spacing: 0.03rem; */
    text-align: start;
    color: #fff;
    background-color: var(--blue-bg-btn-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: var(--btn-padding);
    cursor: pointer;
}

.lower-section {
    margin: 12px;
    margin-bottom: 50px;
}

.follow-socials {
    margin: 0 12px;
    display: flex;
    align-content: center;
}

.follow-socials > * {
    margin-right: 20px;
}

.follow-socials img {
    width: 20px;
}

.head-to-top {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    margin-bottom: 100px;
    visibility: hidden;
    /* border: 1px solid red; */
}

.head-to-top button {
    color: black;
    font-size: 0.95rem;
    font-weight: 600;
    margin: 12px;
    padding: var(--btn-padding);
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    cursor: pointer;
    /* border: 1px solid red; */
}
.head-to-top span {
    padding-right: 7px;
}
.head-to-top button:hover {
    background-color: #fff;
    box-shadow: var(--card-box-shadow);
}
.head-to-top a {
    text-decoration: none;
    /* border: 1px solid black; */
}
.head-to-top img {
    width: 17px;
    margin-right: 8px;
    /* background-color: red; */
}

/* RESPONSIVENESS - MEDIA QUERY ---------------------*/
@media (max-width: 1400px) {
    .head-nav-bar {
        padding: 0 4%;
    }
    .head-nav-bar > * {
        padding: 10px;
    }
    /* #allProducts:hover::after, */
    #head-search:hover::after,
    #head-cart:hover::after,
    #login:hover::after {
        width: 0;
    }
    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.4rem;
    }
    .outlook-product img {
        content: url("images/articles/outlook_lg_img.webp");
    }
}

@media (max-width: 1084px) {
    .main-body {
        width: 100%;
    }
    .top-products,
    .bottom-products {
        --product-img-width: 50%;
    }
    .outlook-product img {
        content: url("images/articles/outlook_md_img.avif");
    }
}
@media (max-width: 1000px) {
    .head-nav-bar {
        padding: 0 2%;
    }
}
@media (max-width: 950px) {
    .nav-options > .more-dropdown {
        display: block;
    }
    .nav-options .nav-2,
    .nav-options .nav-3,
    .nav-options .nav-4 {
        display: none;
    }
    .nav-options .nav-5 {
        display: block;
    }
}
@media (max-width: 900px) {
    .nav-options .nav-1 {
        display: none;
    }
    .nav-options .nav-4 {
        display: block;
    }
}

@media (max-width: 860px) {
    .menu-hamburger {
        display: flex;
    }
    .head-nav-bar {
        padding: 0;
    }
    .head-nav-bar > * {
        padding: 15px;
    }
    .main-logo {
        flex: 10;
    }
    h2 {
        font-size: 1.55rem;
    }

    h3 {
        font-size: 1.25rem;
    }
    #head-search {
        order: -1;
    }
    .outlook-product img {
        content: url("images/articles/outlook_sm_img.avif");
    }
    .outlook-product {
        margin: 10px 12px 50px;
        /* border: 2px solid blue; */
    }
}

@media (max-width: 540px) {
    .top-products,
    .bottom-products {
        --product-img-width: 100%;
    }
    .head-to-top {
        display: none;
    }
}
